.layout-content {
  padding: 2rem;
  background-color: #e3e6ea;
}

.table-summary-row {
  background-color: #fafafa;
  font-weight: 500;
}

.ant-layout-header {
  text-align: left;
  color: #fff;
  font-size: x-large;
}

.ant-card-head-title {
  text-align: left;
}
